* {
   filter: invert(100%);
}
body, html { overflow-x: hidden; }
body.fs { background-color: rgb(255, 255, 255); }
body.fs [class*="col-"] { padding-left: 15px; padding-right: 15px; margin-bottom: 20px; }
body.fs { font-family: MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", "Lucida Sans", "Segoe UI", Calibri, sans-serif; }
#header .container { position: relative; }
#logo { float: none; }
#header { z-index: 2; width: 100%; margin-bottom: 0px; padding-bottom: 10px; border-bottom: 2px solid rgb(252, 186, 25); box-shadow: rgba(51, 51, 51, 0.5) 0px 3px 3px 1px; background-color: rgb(0, 51, 102); }
#header h1 { display: inline-block; margin-top: 10px; margin-bottom: 0px; padding-left: 20px; color: rgb(255, 255, 255); }
#header #logo img { width: auto; height: auto; padding-left: 10px; }
#header h1#siteTitle { margin: 20px 5px 5px 0px; color: rgb(255, 255, 255); font-size: 28px; font-weight: 100 !important; }
#header h1#siteTitle a { color: inherit; text-decoration: none; }
.navbar-header { position: relative; }
.navbar-header p { display: inline-block; position: absolute; left: 90px; max-width: 100%; top: 10px; color: rgb(0, 97, 154); font-size: 12px; font-style: italic; }
.navbar-brand { height: auto; padding: 0px 10px 15px 8px; }
#fs-logo { width: 100px; height: 100px; }
#nav { z-index: 10; margin-top: 0px; padding-bottom: 30px; }
.leftNav { margin: 39px 0px 0px; border: 0px; color: rgb(25, 89, 149); background-color: rgb(240, 240, 240); font-size: 16px; }
.home .leftNav { margin-top: 0px; margin-bottom: 20px; }
.leftNav li { padding: 15px 20px; border-top: 2px solid rgb(255, 255, 255); list-style: none; }
.leftNav li:first-of-type { padding-top: 15px; padding-bottom: 10px; border-top: 0px; }
.leftNav li:hover, .leftNav li a:hover { background-color: rgb(250, 250, 250); }
#nav ul li a { padding: 0px; }
#nav ul ul { border: 0px; }
#nav ul ul li { font-weight: normal; border-top: 0px; padding: 5px 0px 5px 10px; }
#nav ul ul a:hover { text-decoration: none; }
#nav li.current { font-weight: bold; }
#nav li.current li { font-weight: normal; }
#nav li.current li.current { font-weight: bold; }
#nav button.topic-menu-trigger { z-index: 10; position: absolute; right: 0px; top: 70px; padding: 10px; border: 0px; background-position: center center; background-color: rgb(240, 240, 240); }
.home #nav button.topic-menu-trigger { right: 15px; top: 10px; }
.navbar-collapse { padding-right: 0px; }
#main { margin-bottom: 3rem; }
.inline { display: inline-block; margin-top: 10px; }
#topicTemplate.template { min-height: auto; margin-bottom: 2rem; }
#introBlock { width: 100%; margin: 0px; padding: 20px 0px 0px; }
.intro-highlight { background: rgb(238, 239, 239); margin: 0px -9999rem; padding: 20px 9999rem; z-index: -10; }
.home #introBlock { padding-top: 0px; background-repeat: no-repeat; background-size: cover; background-position: -200px -30px; }
.home #introBlock .container { position: relative; }
.gradient { padding-top: 20px; background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1) 30%, rgb(255, 255, 255)) center top / cover no-repeat, linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 30%, rgb(255, 255, 255)) left top / cover no-repeat; }
#intro { margin: 0px -15px; padding: 30px 15px 15px; font-size: 16px; z-index: 1; color: rgb(26, 41, 246); position: relative; background: none; }
#intro p { margin-top: 20px; }
.faq #intro h2, .resources #intro h2 { margin-top: 20px; padding-top: 0px; }
.site-info { margin-top: 20px; margin-bottom: 25px; padding-bottom: 20px; background: linear-gradient(to right, rgb(192, 230, 101) 18%, rgba(255, 255, 255, 0) 0%) center bottom / 10px 2px repeat-x; color: rgb(0, 98, 155); font-style: italic; text-align: center; }
.site-info i { margin-right: 5px; }
.site-info a { text-decoration: underline; }
#fs-logo { display: inline-block; margin-bottom: 10px; }
.tagline { position: relative; width: 50%; color: rgb(255, 255, 255); font-style: italic; font-size: 16px; text-shadow: rgb(112, 112, 112) 1px 1px; }
.home #topicTemplate { background: none; }
#introBlock .feature { padding: 20px 0px 0px; margin-bottom: -10px; }
#introBlock .feature h1, .feature ul, .feature li, .feature h2 { display: inline-block; }
#introBlock .feature h1 { margin-top: 10px; margin-right: 10px; margin-bottom: 90px; padding-top: 10px; padding-bottom: 5px; color: rgb(255, 255, 255); font-weight: normal; font-size: 28px; background-color: rgb(252, 186, 25); width: 230px; }
#introBlock .feature h1 .fa-arrow-right { color: rgb(255, 255, 255); margin-left: 10px; }
.instructors #introBlock h1 { font-weight: normal; font-size: 36px; color: rgb(255, 255, 255); text-shadow: rgb(112, 112, 112) 1px 1px; }
#introBlock .feature h1 a, .instructors #introBlock h1 a { text-decoration: none; color: inherit; }
.feature p { font-size: 21px; text-align: center; padding: 10px; color: rgb(0, 110, 175); font-weight: bold; line-height: 18px; }
.course-title { height: 100px; margin: 40px -15px 0px; padding: 35px 20px; color: rgb(255, 255, 255); font-size: 20px; line-height: 26px; font-weight: bold; }
.course-title .course-icon { margin: -20px 10px 0px; }
.course-title a { color: rgb(255, 255, 255); }
.level1 h2.course-title { background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.5)), url("../images/Level1-plating.jpg") center center, 0px -60px / cover no-repeat; border-bottom: 5px solid rgb(0, 98, 155); }
.refresher h2.course-title { background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.5)) 0% 0% / cover, url("../images/Refresher.jpg") no-repeat; border-bottom: 5px solid rgb(80, 145, 205); }
.level2 h2.course-title { background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.5)) center center / cover, url("../images/Level2-sautee.jpg") 0px -60px no-repeat; border-bottom: 5px solid rgb(90, 155, 1); }
.processSafe h2.course-title { background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.5)) center center / cover, url("../images/processSafe_BG.jpg") 0px -60px no-repeat; border-bottom: 5px solid rgb(227, 91, 0); }
.marketsafe h2.course-title { background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.5)), url("../images/Marketsafe-tomatoes.jpg") center center, left bottom / cover no-repeat; border-bottom: 5px solid rgb(150, 26, 77); }
.microbiology h2.course-title { background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.5)) center center / cover, url("../images/microbiology.jpg") 0px -60px no-repeat; border-bottom: 5px solid rgb(103, 117, 51); }
#main { margin-top: 20px; }
h1 { font-size: 31px; color: rgb(0, 97, 154); font-weight: normal; }
#main h2, #haContacts h2 { background-image: linear-gradient(to right, rgb(0, 97, 154) 18%, rgba(255, 255, 255, 0) 0%); background-position: center top; background-size: 10px 2px; background-repeat: repeat-x; padding-top: 20px; color: rgb(0, 97, 154); margin-top: 40px; }
#main .home h2 { color: rgb(73, 73, 73); background: none; padding-top: 0px; }
#main h2:first-of-type, #main h2.guide-section:first-of-type { margin-top: 0px; background-image: none; }
#main h2 a, h2 a:hover { text-decoration: none; }
h2 a { color: inherit; }
.resources h2 + p { margin-top: -10px; }
h3 { margin-top: auto; padding-top: 20px; background-image: linear-gradient(to right, rgb(0, 97, 154) 18%, rgba(255, 255, 255, 0) 0%); background-position: center top; background-size: 10px 2px; background-repeat: repeat-x; color: rgb(26, 45, 93); }
#secondary { margin-top: 20px; }
#secondary.col-md-12 .row { margin-top: 35px; padding-top: 0px; background-image: linear-gradient(to right, rgb(31, 159, 59) 18%, rgba(255, 255, 255, 0) 0%); background-position: center top; background-size: 10px 2px; background-repeat: repeat-x; }
#secondary.col-md-12 .row:first-of-type { background-image: none; margin-top: 0px; }
#secondary h2 { position: relative; background-image: none; color: rgb(31, 159, 59); margin-top: 18px; margin-bottom: 8px; }
#secondary h3 { margin-bottom: 8px; background-image: none; padding-top: 0px; }
a.secondary { font-weight: bold; text-decoration: none; }
a.secondary::after { content: ""; font-family: FontAwesome; margin-left: 5px; font-size: 80%; }
.source { color: rgb(175, 175, 175); margin-left: 5px; }
.source a { color: rgb(175, 175, 175); }
.source a[href$="pdf"]::before { content: ""; }
.menu-pdf-icon a[href$="pdf"]::before { position: absolute; top: -3px; left: 2px; content: ""; color: red; font-family: FontAwesome; font-size: 16px; }
.underline { text-decoration: underline; }
ul { padding-left: 0px; margin-bottom: 16px; list-style-type: none; }
ul.body-text { list-style-type: disc; padding-left: 20px; }
ul.body-text li { margin-bottom: 8px; }
#courses { margin-bottom: 0px; padding: 0px; }
#courses li { min-width: 100%; padding-top: 10px; padding-right: 0px; margin-bottom: 20px; font-size: 22px; line-height: 24px; vertical-align: top; color: black; }
#courses li a { color: rgb(0, 51, 102); text-decoration: none; line-height: 26px; }
.course-icon { float: left; width: 50px; height: 50px; margin-right: 15px; margin-top: 0px; font-size: 35px; font-weight: bold; line-height: 55px; text-align: center; background-color: rgb(0, 97, 154); color: rgb(255, 255, 255); border-radius: 50px; }
.course-icon:hover { background: rgb(0, 110, 175); }
.course-icon img { margin-top: 0px; }
.checklist { list-style: none; padding-left: 20px; padding-right: 10px; }
.checklist li { position: relative; padding-bottom: 10px; }
.checklist li::before { position: absolute; left: -20px; top: -2px; content: ""; color: rgb(195, 216, 45); font-family: FontAwesome; }
.downloads { list-style: none; padding-left: 0px; margin-top: -5px; margin-bottom: 40px; }
#intro [class*="col-"] { padding: 0px; }
.downloads li { position: relative; margin: 0px; padding: 8px 15px 5px 35px; border-bottom: 1px solid rgb(175, 175, 175); }
.downloads li:hover, .teach #intro .downloads li:hover { background-color: rgb(238, 238, 238); }
.downloads a:hover { text-decoration: none; }
.downloads li a:hover { text-decoration: none; }
a[href$="pdf"]::before { position: absolute; top: 5px; left: 10px; content: ""; color: red; font-family: FontAwesome; font-size: 16px; }
p a[href$="pdf"] { position: relative; margin-left: 20px; }
p a[href$="pdf"]::before { top: -5px; left: -18px; }
a.secondary[href$="pdf"]::before { display: none; }
.teach #intro .downloads li { border-color: rgb(195, 216, 45); width: 100%; }
.faq #main h3 { margin-top: 0px; margin-bottom: 8px; padding-top: 30px; line-height: 22px; vertical-align: top; }
.faq #main h4 { margin: 8px 0px; }
.faq #intro ul { list-style-type: none; padding-left: 20px; }
.faq #intro ul li { padding: 10px 0px; border-bottom: 1px solid rgb(255, 255, 255); }
#contacts .col-sm-12 { padding-left: 0px; padding-right: 0px; }
#contacts a { display: block; }
#haContacts h3 { cursor: pointer; }
#haContacts ul { list-style: none; padding-left: 0px; margin-bottom: 30px; }
#haContacts ul li { border-bottom: 1px solid rgb(204, 204, 204); padding: 8px 16px; }
#haContacts ul li strong, .contacts li a { margin-right: 8px; }
#fhContacts ul { background-color: rgba(222, 152, 40, 0.1); }
#fhContacts ul li { border-color: rgb(222, 152, 40); }
#fh::before { color: rgb(222, 152, 40); }
#vihaContacts ul { background-color: rgba(108, 185, 177, 0.1); }
#viha::before { color: rgb(108, 185, 177); }
#vihaContacts ul li { border-color: rgb(108, 185, 177); }
#nhContacts ul { background-color: rgba(254, 242, 132, 0.2); }
#nhContacts ul li { border-color: rgb(247, 223, 2); }
#nh::before { color: rgb(247, 223, 2); }
#ihContacts ul { background-color: rgba(123, 123, 187, 0.1); }
#ihContacts ul li { border-color: rgb(123, 123, 187); }
#ih::before { color: rgb(123, 123, 187); }
#vchContacts ul { background-color: rgba(161, 207, 119, 0.2); }
#vchContacts ul li { border-color: rgb(161, 207, 119); }
#vch::before { color: rgb(161, 207, 119); }
.closed::before, .open::before { font-family: FontAwesome; margin-right: 5px; color: rgb(0, 97, 154); }
.closed::before { content: ""; }
.open::before { content: ""; }
.link-list { list-style-type: none; padding-left: 0px; }
.link-list li { margin: 16px 0px; line-height: 22px; }
.link-list li:hover { background-color: rgb(239, 239, 239); }
.link-list img { margin-right: 5px; }
.link-list a:hover { text-decoration: none; }
.cards { margin-left: 0px; }
.cards li { display: block; width: 100%; background-color: rgb(239, 239, 239); margin-bottom: 20px; margin-right: 5%; padding: 12px; border-radius: 5px; }
.cards li:hover { background-color: rgba(31, 159, 59, 0.15); }
.cards li a { font-weight: normal; }
ul.ruled { list-style-type: none; padding-left: 10px; }
ul.ruled li { margin: 0px; padding: 8px 10px 5px; border-bottom: 1px solid rgb(175, 175, 175); }
ul.ruled li:first-of-type { padding-top: 0px; }
#main table.table { margin-bottom: 30px; }
tr { border-top: 1px solid rgb(204, 204, 204); }
td { padding: 8px 4px; }
.faq table { font-size: 14px; }
.faq table th, td { text-align: left; padding: 10px 40px 10px 0px; }
#intro .img-fluid { max-width: 110%; height: auto; margin-right: -15px; margin-left: -15px; }
#main .img-fluid { max-width: 110%; height: auto; margin: 40px auto; }
h3 img { margin-right: 15px; vertical-align: baseline; }
#videoPreview { position: relative; }
#videoPreview::before { position: absolute; top: 50%; left: 50%; margin-top: -50px; margin-left: -50px; z-index: 10; opacity: 0.5; color: rgb(255, 255, 255); content: ""; font-family: FontAwesome; font-size: 100px; line-height: 100px; cursor: pointer; }
.placeholder #videoPreview::before { display: none; }
#videoPreview:hover::before { opacity: 0.8; color: rgb(255, 255, 255); }
#videoPreview img { max-width: 100%; height: auto; }
#videoPreview p { width: 100%; position: absolute; top: 0px; left: 0px; color: rgb(255, 255, 255); background-color: rgba(0, 51, 102, 0.4); margin: 0px; padding: 10px; font-size: 14px; }
#videoPreview p i { margin-right: 10px; }
#video { display: none; }
.feature i { margin-right: 8px; color: rgb(195, 216, 45); }
.list-inline { list-style-type: none; margin: 20px 0px; padding-left: 10px; font-size: 14px; }
.list-inline li { margin-left: 10px; font-style: italic; line-height: 16px; padding: 0px; }
.list-inine li:first-of-type { margin-left: 0px; }
.courses .list-inline { margin: 0px 0px 10px; }
.list-inline a { color: rgb(0, 97, 154); }
.list-inline i { margin: 0px 5px 0px 0px; }
ul.list-inline { padding-left: 0px; }
ul.list-inline > i.fa { margin-left: 0px; padding-left: 0px; }
.certificate { margin-top: 20px; }
h2.icon { position: relative; }
.home h2.icon { margin-left: 40px; }
h2.icon::before { position: absolute; top: -8px; left: -40px; font-size: 38px; font-family: FontAwesome; color: rgb(195, 216, 45); }
#secondary h2.icon::before { font-size: 21px; left: -28px; top: -4px; color: inherit; }
.top { padding-left: 20px; color: rgb(204, 204, 204); }
.faq h3 { clear: both; }
img.back-to-top { float: right; margin: 0.5rem 0.5rem 0px 0px; }
#footerAdminLinks { clear: both; }
button[type="submit"]:hover { background-color: rgb(0, 110, 175); }
button[type="submit"].disabled { background-color: rgb(201, 201, 201); border-color: rgb(201, 201, 201); }
.button-wrap { margin: 20px 0px; }
a.primary, button[type="submit"] { display: inline-block; margin-top: 5px; background-color: rgb(0, 97, 154); border: 1px solid rgb(0, 97, 154); border-radius: 2px; color: rgb(255, 255, 255); padding: 7px 10px 5px; text-align: center; text-decoration: none; }
a.primary:hover { background-color: rgb(0, 110, 175); }
a.processSafe, button[type="submit"] { display: inline-block; margin-top: 5px; background-color: rgb(253, 102, 1); border: 1px solid rgb(227, 91, 0); border-radius: 2px; color: rgb(255, 255, 255); padding: 7px 10px 5px; text-align: center; text-decoration: none; }
a.processSafe:hover { background-color: rgb(253, 128, 45); }
a.microbiology, button[type="submit"] { display: inline-block; margin-top: 5px; background-color: rgb(103, 117, 51); border: 1px solid rgb(103, 117, 51); border-radius: 2px; color: rgb(255, 255, 255); padding: 7px 10px 5px; text-align: center; text-decoration: none; }
a.microbiology:hover { background-color: rgb(103, 150, 9); }
.home-action { display: block; width: 100%; padding: 12px 20px 8px; margin-top: 20px; color: rgb(0, 98, 155); font-size: 18px; line-height: 18px; background-color: rgb(240, 240, 240); border: 1px solid rgb(0, 98, 155); text-align: center; }
.home-action:hover { background-color: rgb(255, 255, 255); text-decoration: none; }
.action-block { padding: 0px; margin-top: 30px; border-radius: 2px; text-align: center; }
.teach .action-block { margin-top: 0px; }
#topicTemplate .action-block h2 { margin-bottom: 8px; }
.action-block p::after { content: ""; font-family: FontAwesome; margin-left: 5px; }
.action-block a { text-decoration: none; }
.action-block:hover { text-decoration: none; }
.action-block:hover p::after { color: rgb(195, 216, 45); }
.btn { padding: 6px 20px; background-color: rgb(0, 97, 154); color: rgb(255, 255, 255); font-family: inherit; text-decoration: none; }
.btn:hover { text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(0, 109, 174); }
.btn:visited { text-decoration: none; }
#header .btn { float: right; height: 25px; margin-right: 15px; margin-top: 25px; padding: 3px 8px; border-radius: 0px; color: rgb(0, 51, 102); background-color: rgb(255, 255, 255); }
#header .btn:hover { color: rgb(0, 51, 102); }
#user { text-align: right; color: rgb(255, 255, 255); float: right; margin-top: 25px; }
#user span { font-style: italic; }
.btn-logout { height: 25px; width: 70px; margin: 0px 15px; padding: 3px 8px; color: rgb(26, 90, 150); background-color: rgb(255, 255, 255); font-size: 13px; }
#login label { color: rgb(255, 255, 255); }
#formSuccess, #formFailure { margin-bottom: 10px; padding-bottom: 5px; }
#formSuccess { border-bottom: 1px solid rgb(31, 159, 59); color: rgb(31, 159, 59); }
#formFailure { border-bottom: 1px solid red; color: red; }
#formFailure i { padding-right: 5px; }
.alert { margin-bottom: 0px; border-radius: 0px; }
.alert a { color: rgb(210, 50, 45); text-decoration: underline; }
.marketsafe h1 { color: rgb(150, 26, 77); }
.level2 h1 { color: rgb(90, 155, 1); border-color: rgb(90, 155, 1); }
.level2.course-icon { background-color: rgb(90, 155, 1); }
.course-icon.level2:hover, .level2 .primary:hover { background-color: rgb(101, 174, 1); }
.level2 a.primary { background-color: rgb(90, 155, 1); border-color: rgb(90, 155, 1); }
.marketsafe a.primary { background-color: rgb(150, 26, 77); border-color: rgb(150, 26, 77); }
.course-icon.marketsafe { background-color: rgb(150, 26, 77); line-height: 50px; }
.course-icon.marketsafe:hover, .marketsafe .primary:hover { background-color: rgb(183, 32, 94); }
.refresher h1 { color: rgb(80, 145, 205); }
.refresher.course-icon { background-color: rgb(80, 145, 205); }
.refresher a.primary { background-color: rgb(80, 145, 205); border-color: rgb(80, 145, 205); }
.course-icon.refresher:hover, .refresher .primary:hover { background-color: rgb(95, 155, 209); }
.course-icon.processSafe { background-color: rgb(253, 102, 1); }
.course-icon.microbiology { background-color: rgb(103, 117, 51); line-height: 50px; }
.course-icon.microbiology:hover, .microbiology .primary:hover { background-color: rgb(103, 150, 9); }
#fs-footer.container { padding-left: 0px; padding-right: 0px; }
#fs-footer-wrapper { background-color: rgb(238, 239, 239); margin: 0px; padding: 20px 15px; }
#fs-footer #contact img { display: block; margin: auto; }
#fs-footer p { text-align: center; }
#contact p { padding-top: 25px; }
#contact strong { color: rgb(144, 146, 149); font-size: 20px; font-weight: 600; display: block; }
.email, .phone { font-weight: bold; }
.email .glyphicon { padding-right: 5px; }
#partners { clear: both; }
#foodsafe-partners { padding: 0px; }
#partners ul { text-align: center; }
#partners li { display: inline-block; }
#partners li img { opacity: 0.6; max-height: 60px; padding: 5px 10px; }
.style-guide #main { margin-top: 90px; }
.specs { display: none; font-size: 14px; color: rgb(135, 135, 135); }
#main h2.guide-section { margin: 40px 0px 30px -10px; background: rgb(240, 240, 240); color: rgb(112, 112, 112); padding: 10px; }
.swatch-list { padding-left: 0px; margin-bottom: 20px; }
.swatch { list-style-type: none; display: inline-block; width: 100%; margin-bottom: 25px; margin-right: 3%; padding: 20px; }
.BCblue { color: rgb(255, 255, 255); background-color: rgb(26, 246, 235); }
.BCyellow { color: rgb(255, 255, 255); background-color: rgb(252, 186, 25); }
.darkblue { color: rgb(255, 255, 255); background-color: rgb(0, 51, 102); }
.blue { color: rgb(255, 255, 255); background-color: rgb(0, 97, 154); }
.lightblue { color: rgb(255, 255, 255); background-color: rgb(80, 145, 205); }
.green1 { color: rgb(255, 255, 255); background-color: rgb(31, 159, 59); }
.green2 { color: rgb(255, 255, 255); background-color: rgb(90, 155, 1); }
.green3 { color: rgb(255, 255, 255); background-color: rgb(195, 216, 45); }
.red { color: rgb(255, 255, 255); background-color: rgb(150, 26, 77); }
.grey { background-color: rgb(240, 240, 240); }
.Hovergrey { background-color: rgb(250, 250, 250); }
.Bodygrey { background-color: rgb(73, 73, 73); color: rgb(255, 255, 255); }
.featureLink > #topicTemplate > .action-block { margin: 0px; padding: 0px; text-align: left; }
.faqLink { font-size: 16px; }
#countdownContainer { position: relative; float: right; width: 360px; height: 200px; text-align: center; padding-top: 25px; }
#countdownBackground { background: rgb(255, 255, 255); opacity: 0.6; position: absolute; top: 0px; left: 0px; height: 65px; width: 275px; margin-top: 0px; border-radius: 5px; }
#countdownText { position: absolute; top: 0px; width: auto; padding: 10px; height: 100%; margin-left: 10px; text-align: center; font-size: 16px; clear: both; color: white; }
.timerLabels { display: block; text-align: center; width: 340px; }
.days { text-align: center; margin-right: 15%; }
.hours { text-align: center; margin-left: 15%; }
.clockNumber { font-weight: bold; background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); padding: 10px 10px 0px; font-size: 48pt; border-radius: 10px; }
.clock { font-weight: bold; font-size: 48pt; color: rgb(51, 51, 51); padding: 10px; }
ul.inline li a:link, nav ul.inline li a:visited { color: rgb(26, 90, 150); display: block; text-align: center; }
.recertify-link { padding: 25px 15px 5px; border-radius: 5px; background-color: rgba(255, 255, 255, 0.8); float: right; margin-bottom: 20px; }
.recertify-link ul { color: rgb(0, 97, 154); text-align: left; font-size: 15px; line-height: 20px; }
.recertify-link ul li { padding-bottom: 10px; }
.recertify-link a { color: rgb(0, 97, 154); text-decoration: underline; font-weight: 600; }
.fsWidgetLink { padding: 15px; border-radius: 5px; background-color: rgb(195, 216, 45); color: rgb(255, 255, 255); float: right; clear: right; text-align: center; font-size: 18px; }
.fsWidgetLink a { color: rgb(255, 255, 255); text-decoration: none; }
#dilution_table { clear: left; border: 2px solid rgb(204, 204, 204); border-radius: 10px; padding: 10px 20px; margin-bottom: 30px; }
#dilution_table img { float: left; margin-right: 20px; margin-top: 10px; }
tr { border: none; }
#field1_help, #field2_help, #field3_help, #field4_help { border: 1px solid rgb(0, 102, 204); border-radius: 5px; color: rgb(0, 102, 204); width: auto; text-align: center; padding: 10px; }
#dilution_table a i.fa { cursor: pointer; text-decoration: none; color: rgb(26, 246, 235); font-size: 14pt; }
#dilution_table input[type="submit"], input[type="button"] { background-color: rgb(26, 246, 235); color: rgb(255, 255, 255); border: none; box-shadow: none; border-radius: 5px; padding: 5px 10px; float: right; }
#disclaimer { float: left; }
#dilution_table input { margin-right: 5px; }
#introBlock .marketsafeLogo { max-width: 250px; }
.YukonTitle { padding: 2rem 0px 2rem 1rem; color: white; margin: 0px !important; }
article.Yukon { background-color: rgb(238, 238, 238); margin-bottom: 2rem; padding: 0rem !important; }
.YukonAdress p { font-size: 16px; padding: 3rem 0px !important; line-height: 3rem !important; }
.YukonAdress { padding-right: 0px !important; }
.YukonImg { width: 120px; padding-top: 4rem; float: right; }
.YukonBloc { padding: 0px 30px; }
a.close { text-decoration: none; }
.alert-success { border-bottom: 1px solid rgb(223, 240, 216); border-top-color: rgb(223, 240, 216); border-right-color: rgb(223, 240, 216); border-left-color: rgb(223, 240, 216); }
.close:hover, .close:focus { opacity: 0.8; }
.alert-dismissible .close { top: 0px; opacity: 0.5; }
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #introBlock img.marketsafeLogo { width: 250px; height: 125px; margin-top: -20px; }
}
